@import 'src/client/styles/base';

header {
    height: 60px;
    width: 100%;
    background: $header-bg-color;
    padding: 10px 40px;

    span {
        margin-left: 20px;
        line-height: 40px;
        font-family: $cairo;
        font-size: 2rem;
        text-transform: uppercase;
        color: #e3e3e3;
    }
}
